@font-face {
    font-family: Poet;
    src: url(../fonts/PoetsenOne-Regular.ttf);
}

@font-face {
    font-family: Comforta;
    src: url(../fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: Comforta-light;
    src: url(../fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: Comforta-bold;
    src: url(../fonts/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: Maxwell;
    src: url(../fonts/MAXWELL_LIGHT.ttf);
}

@font-face {
    font-family: Maxwell-bold;
    src: url(../fonts/MAXWELL_BOLD.ttf);
}