.menuBurger{
    position: fixed;
    z-index: 101;
    right: 10px;
    top: 10px;
    background-color: $Blanco;
    border-radius: 3px;
    width: 35px;
    height: 35px;
    display: grid;
    box-shadow: $boxShadow;
    display: none;

    @include media(md){
        display: block;
    }

    svg{
        width: 22px;
        fill: $Cafe;
    }
}