$grayWhite: #F1F1F1;
$Naranja: #FCB45D;
$Cafe: #652300;
$negro: #191919;
$Blanco: #FFFFFF;

$boxShadow: 3.3px 3.3px 13.2px rgba(0, 0, 0, 0.08);

@keyframes entradasScroll {
    from {top: -120px;}

    to {top: 0px;}
}